/*http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.logo{
	display:none;
}

.navtab{
	display:flex;
	color:black;
	justify-content:center;
}

a{
	border:solid black 2px;
	cursor:pointer;
	color:black;
	text-align:center;
	margin:3% auto;
	padding: 1% 2% 1% 2%;
	text-decoration: none;
	transition-duration: .7s;
	font-family: 'Oswald', sans-serif;

}
	a:hover{
	background: darkgrey;
	opacity:.6;
	text-decoration:none;
	color:white;
	border-color:white;
	}

.title-section{
		display:flex;
		margin:5% 6% 5% 0%;
		padding:0% 0% 0% 0%;
	}
h1{
	font-size:5.9em;
	text-align:center;
	transition-duration: .7s;
	opacity:1;
	margin:6% 15% 0% 10%;
	padding:0% 0% 0% 0%;
	margin-bottom:3%;
	justify-content:center;
}
.main{
	margin: 0% 10% 0% 0%;
	flex-grow:2;
	height:auto;
}

button{
	margin: 0% 0% 5% 16%;
	text-align:center;
	height:65px;
	width:260px;
	border: solid black 2px;
	cursor:pointer;
	transition-duration: .7s;
	opacity:1;
	background-color:white;
	font-weight:bolder;
	font-size:1em;
	color:black;
	font-family: 'Oswald', sans-serif;
	justify-content:center;

}
	
	button:hover{
		background: darkgrey;
		opacity:.6;
		color:white;
		border-color:white;
}

hr{
	justify-content:center;
	margin-bottom:5%;
	margin-top:2%;
}

.first-section{
	display:flex;
	width:90%;
	text-align: justify;
	margin:5% 5% 3% 5%;
}

.subject{
	margin:2%
}

.middle-img{
	width:90%;
	margin:auto 5%;
}

.middle-section{
	display:flex;
	width:90%;
	text-align: justify;
	margin:5% 5% 3% 5%;
}	

.last-section{
	margin: auto 7%;
}

li{
	padding:.5% 0% 1% 0%;
}

.footer{
text-align:center;
margin: 20% 5% 5% 5%
}


@media(max-width:800px){
	.logo{
		display:flex;
		margin: 2% auto;
	}
	nav{
		margin: 5% 5% 5% 0;
	}
	.title-section{
		margin: 
	}
	a{
		margin:3% 2% 0 3%;
		text-align:center;
		text-decoration:none;
		border:solid black 2px;
		padding:1% 2% 1% 2%;
	}
	
	h1{
   		font-size:6em;
    	text-align:center;
		margin:20% auto 10% auto;
	}

	button{
   		text-align:center;
		font-weight:bolder;
		margin:3% 0% 10% 31%;
   		font-size:1.5em;
    	color:black;
		}
	hr{
    	justify-content:center;
    	margin-bottom:5%;
    	margin-top:2%;
	}

	.main{
    	display:none;
	}

	.first-section{
		display:flex;
		width:90%;
		text-align: justify;
		margin:5% 5% 3% 5%;
	}

	.subject{
		margin:2%
	}

	.middle-img{
		width:90%;
		margin:5%;
		height:auto;
	}
	
	.middle-section{
		display:flex;
		width:90%;
		text-align: justify;
		margin:5% 5% 3% 5%;
	}	

	.last-section{
    	margin: 5%;
	}
	
	li{
		padding:.5%;
	}
	
	.footer{
    text-align:center;
	margin: 20% 5% 5% 5%
	}
}


@media(max-width:500px){
	.logo{
		display:block;
		margin: 0% auto;
		padding:10% 0% 10% 0%;
	}                           
	nav{
		display:flex;
		flex-direction:column;
		margin:0;
	}
	a{
		display:flex;
		flex-direction:row;
		padding:7% 0% 7% 0%;
		width:90%;
		border: solid black 2px;	
		justify-content:center;
		align-items:center;
		margin: 1% 5% 1% 5%;
		transition-duration: .7s;
		text-decoration: none;
		font-size:1.2em;
		color:black;
		text-decoration: none;
		}
	
	.main{
		display:none;
	}

	button {
		display:flex;
		text-align:center;
		justify-content: center;
		color:black;
		border:solid 2px black;
		margin:10% auto;
	}

	.first-section{
		margin: 0 5% 5% 5%;
		text-align:justify;
		display:flex;
		flex-direction: column;
	}

	.middle-img{
		width:90%;
		height:auto;
		margin:5%;
		
	}
	.middle-section{
		margin: 0% 5% 5% 5%;
		text-align: justify;
		display:flex;
		flex-direction:column;
	}	
	.footer{
		margin:20% 5% 5% 5%;
	}
}